<br>
<br>
<h1>{{title}}</h1>
<h2>{{error}}</h2>
<!--{{nuevaMascota |json}}-->
<!--Crear Mascota-->
<div class="row">
  <!--<div class="col-sm-3"></div>-->
  <div class="col-md-12">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <form class="animated bounceIn" (ngSubmit)="crearMascota(NuevaMascotaForm)" #NuevaMascotaForm="ngForm">
          <div class="form-group">
            <label>Nombre</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <input required
                     name="nombre"
                     minlength="4"
                     type="text"
                     id="nombre"
                     class="form-control"
                     placeholder="Ingrese su nombre"
                     #nombre="ngModel"
                     [(ngModel)]="nuevaMascota.nombre"
                     #nombreElm>
            </div>
          </div>
          <div class="form-group">
            <label>Edad</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <input required
                     name="edad"
                     minlength="4"
                     type="number"
                     id="edad"
                     class="form-control"
                     #nombre="ngModel"
                     [(ngModel)]="nuevaMascota.edad"
                     #nombreElm>
            </div>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <select required
                      class="form-control"
                      name="tipo"
                      [(ngModel)]="nuevaMascota.tipo"
                      #posicion="ngModel">
                <option *ngFor="let tamanio of tipos" value="{{tamanio.tipo}}">{{tamanio.tipo}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Genero</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <select required
                      class="form-control"
                      name="genero"
                      [(ngModel)]="nuevaMascota.genero"
                      #posicion="ngModel">
                <option *ngFor="let genero of generos" value="{{genero.genero}}">{{genero.genero}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Tamaño</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <select required
                      class="form-control"
                      name="tamanio"
                      [(ngModel)]="nuevaMascota.tamanio"
                      #posicion="ngModel">
                <option *ngFor="let tamanio of tamanios" value="{{tamanio.tipo}}">{{tamanio.tipo}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Imagen</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
              <input required
                     name="foto"
                     minlength="4"
                     type="text"
                     id="foto"
                     class="form-control"
                     placeholder="Ingrese su nombre"
                     #nombre="ngModel"
                     [(ngModel)]="nuevaMascota.foto"
                     #nombreElm>
            </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-4">
            <button [disabled]="disabledButtons.NuevaMascotaFormSumitButton||!NuevaMascotaForm.valid" type="submit"
                    class="btn btn-block btn-success btn-lg">
              <span class="glyphicon glyphicon-ok"></span> Crear
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col sm-6">


    </div>
  </div>

</div>

<h2>{{subtitle}}</h2>
<div class="row">
  <div class="col-sm-4 animated bounceIn" *ngFor="let Mascota of mascotas">
    <div class="col-md-7">
      <div class="text-center ma-borde ma-padding-top-bottom">
        <img [src]="Mascota.foto" height="200" />
        <h3>{{Mascota.nombre}}</h3>
        <p><strong>Tipo:</strong><br>{{Mascota.tipo}}<br>
          <strong>Edad:</strong><br>{{Mascota.edad}}<br>
        <strong>Genero:</strong><br>{{Mascota.genero}}</p>
        <br>
      </div>
        </div>
  </div>
</div>
